	/* 웹폰트 */
	@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
	@import url('https://fonts.googleapis.com/css?family=Playball|Playfair+Display|Raleway&display=swap');
	
	/* 모든 상황에서 똑같이 사용할 스타일 */
	*{
		margin: 0;
		padding: 0;
	}
	body{
		background: #fff;
	}
	#container{
		width: 100%;
	}
	div#main_title h5, h1, div#main_intro p, div#view_more em a{
		color: white;
	}
	p.main_name{
		font-size: 50px;
		font-weight: bold;
		color: #2C2C2C;
		font-family: 'Playball';
		letter-spacing: 3px;
		padding-top: 100px;
		padding-bottom: 30px;
	}
	p.line{
		border-bottom: 4px solid #2C2C2C;;
		width: 100px;
		height: 10px;
		margin: 0 auto;	
	}
	li{
		list-style: none;
	}
	.blue{
		color: #1312FF;
	}
	.red{
		color: #AA1212;
	}
	.green{
		color: #1D8B15;
	}
	/*** PC ***/
	@media screen and (min-width:1024px){
	    /** header **/
	    
		header{
			width: 100%;
			height: 930px;
			background: url("../images/main_background.jpg") center no-repeat;
			background-size: cover;			
		}
		
		/* header>로고+메뉴 */
		header div#head_wrap{
			width: 100%;
			height: 100px;
			background: white;
			position: fixed; /* 메뉴고정 */
			left: 0;
			top: 0;
			z-index: 1; /* 최상위로 주기 */
		}
		
		.sticky_header{
			position: fixed;
			left: 0;
			top: 0;		
		}
		header div#h_head{
			width: 1350px;
			height: 100px;
			margin: 0 auto;
		}
		div#h_logo{
			width: 200px;
			float: left;		
		}
		div#h_logo img{
			width: 192px;
			height: 77px;
			padding: 10px;		
		}		
		nav#h_menu{
			width: 610px;
			height: 100px;
			float: right;
			text-align: right;
			line-height: 100px;
		}
		nav#h_menu ul{
			list-style: none;
		}
		nav#h_menu li{
			display: inline-block;
			margin: 0 30px;
			font-size: 16px;
			font-weight: bold;
			font-family: 'Raleway';
		}
		nav#h_menu a{
			text-decoration: none;
			color: black;
		}
		nav#h_menu a:hover{
			border-bottom: 3px solid black;
		}
		
		/* header>메인이미지+소개글 */		
		div#intro_wrap{
 			width: 1350px;
			height: 830px;
			margin: 0 auto;
		}
		
		/* → 메인이미지 */
		div.main_img{
			width: 675px;
			height: 577px;
			float: left;
			padding-top: 250px;
			
		}
		div.main_img img[src*='main_img1']{
			width: 620px;
			height: 430px;
			margin-left: 45px;
			margin-top: 10px;
			opacity: 0;
			
		}	
		
		/* → 메인소개글 */
		div#main_text{
			width: 610px;
			height: 830px;
			float: right;
			text-align: left;
		}
		div#main_title{
			width: 100%;
			height: 200px;
			padding-top: 290px;	
		}
		div#main_title h5{
			width: 100%;
			font-size: 15px;
			font-family: 'Raleway';
			letter-spacing: 2px;		
		}
		div#main_title h1{
			width: 100%;
			font-size: 73px;
			font-family: 'Raleway';
			font-weight: normal;
			margin: 20px 0 0;
		}
				
		div#main_intro{
			width: 100%;
		}
		div#main_intro p{
			width: 100%;
			font-size: 18px;
			padding-top: 30px;
			font-family: 'Raleway';
		}		
		div#main_intro span{
			font-size: 13px;
		}		
		div#view_more{
			width: 100%;
			height: 60px;
			line-height: 60px;
		}
		div#view_more em{
			font-weight: bold;
			font-size: 18px;
			font-family: 'Playfair Display';
		}
		div#view_more em a{
			text-decoration: none;
		}
		
		/** section **/		
		section{
			width: 100%;
			text-align: center;
		}
		h1.main_name{
			font-size: 40px;			
		}
		
		/* section>about */
		section div#about{
			width: 100%;
			height: 2450px;
		}
		section div#about div#about1{
			width: 100%;
			height: 640px;
			padding-top: 100px;
		}
		section div#about div#about1 h1#slogan{
			color: #2C2C2C;
			text-align: center;
			letter-spacing: 3px;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		div#about1 ul.pointWrap{
			width: 1050px;
			margin: 0 auto;;
		}
		div#about1 ul.pointWrap li{
			float: left;
			margin-left: 30px;
			position: relative;
		}		
		img.pointImg{
			width: 180px;
			height: 260px;
		}
		div.pointDummy{
			background-color: rgba(0,0,0,0.5);
			width: 180px;
			height: 260px;
			position: absolute;
			left: 0;
			top: 0;			
		}
		.pointDummy_Border{
			background-color: none;
			width: 180px;
			height: 260px;
			position: absolute;
			left: 0;
			top: 0;
			border: 10px solid #F7EDAF;
			margin: -10px;				
		}
		p.aboutInfo{
			width: 1050px;
			margin: 0 auto;
			padding: 25px;
			font-size: 17px;
			line-height: 30px;
		}			
		section div#about div#about2{
			width: 100%;
			height: 1510px;
			background-color: #f3f3f3;
		}
		section div#about div#about2 div.proStudy{
			padding-top: 25px;
		}
		section div#about div#about2 div.proStudy img{
			width: 200px;
			height: 200px;	
		}
		div.lineWrap{
			width: 100%;
			text-align: center;
		}
		div.lineWrap span.line{
			width: 1px;
			height: 90px;
			content: '';
			display: inline-block;
			margin: 15px auto;
			border-left: 1px solid #888888;
		}
		div#about2 ul.img_btns{
			width: 300px;
			height: 50px;
			margin: 0 auto;
			padding-top: 50px;
			padding-bottom: 50px;
		}
		div#about2 ul.img_btns li.btnBox:first-child{
			border-left-width: 1px;
		}	
		div#about2 ul.img_btns li.btnBox{
			width: 56px;
			height: 50px;
			border: 1px solid #ADADAD;
			color: #ADADAD;
			float: left;
			list-style: none;
			line-height: 50px;
			border-left-width: 0px;
		}
		.btnBoxPoint_first{
			width: 56px;
			height: 50px;
			border: 1px solid #ADADAD;
			float: left;
			list-style: none;
			line-height: 50px;
			border-left-width: 1px;
					
			color: #4C4C4C;
			border-bottom: 3px solid #4C4C4C;
			font-weight: bold;
		}
		.btnBoxPoint_etc{
			width: 56px;
			height: 50px;
			border: 1px solid #ADADAD;
			float: left;
			list-style: none;
			line-height: 50px;
			border-left-width: 0px;
					
			color: #4C4C4C;
			border-bottom: 3px solid #4C4C4C;
			font-weight: bold;
		}		
		div.bxImgWrap{
			width: 1110px;
			height: 500px;
			position: relative;
			margin: 0 auto;
		}
		div.bxImgWrap li{
			display: nonde;
		}					
		div.bxImgWrap img[src*='bx']{
			width: 1110px;
			height: 500px;
			position: absolute;
			left: 0;
			top: 0;
		}							
		
		/* section>project */
		section div#projects{
			width: 100%;
			height: 2060px;			
		}
		section div#projects div.projects_container_A{
			width: 1333px;
			height: 838px;
			margin: 0 auto;
			margin-top: 40px;		
			/* background-color: gray; */
			position: relative;		
		}
		div.projects_container_A div{
			margin: 22px;
			float: left;
		}
		div.projects_container_A div.project_A{
			width: 399px;
			height: 500px;
			transition: ease-in-out .15s;	
		}
		img#swingImg{
			width: 280px;
		}
		div.project_swing{
			/* background-color: #A0DCD0; */
			background: url("../images/swingImg.png") no-repeat;
			background-size: cover;
		}
		div.project_jsp{
			/* background-color: #F8F8F8; */
			background: url("../images/jspImg.png") no-repeat;
			background-size: cover;			
		}								
		div.project_A:hover .A_dummy{
			opacity: 1;
		}
		div.project_A div.A_dummy{
			width: 100%;
			height: 500px;
			background-color: white;
			margin: 0;
			padding: 0;
			box-shadow: 0 0 0 10px #eee inset; /* div안쪽에 border주기 */
			opacity: 0;
			transition:1s all ease; 
		}	
		div.projects_container_A div.project_B{
			width: 399px;
			height: 250px;
		}
		div.B_boxTop{
			/* background-color: #FEF4E8; */
			background: url("../images/logo_01.png") no-repeat;
			background-size: cover;	
		}

		div.B_boxLeft{
			/* background-color: #F7EDAF; */
			background: url("../images/logo_02.png") no-repeat;
			background-size: cover;	
		}		
		div.project_B:hover .B_dummy{
			opacity: 1;
		}
		div.B_boxTop:hover img#goSpring,h2{
			opacity: 0;
		}		
		div.project_B div.B_dummy{
			width: 100%;
			height: 250px;
			background-color: white;
			margin: 0;
			padding: 0;
			box-shadow: 0 0 0 10px #eee inset; /* div안쪽에 border주기 */
			opacity: 0;
			transition:1s all ease;		 	
		}		
		div.project_spring{
			/* background-color: #D0E8E8; */
			background: url("../images/springImg.png") no-repeat;
			background-size: cover;	
			position: absolute;
			left: 33.3%;
			top: 294px;
		}
		div.B_boxRight{
			position: absolute;
			left: 66.6%;
			top: 544px;
			/* background-color: #FBE5D7; */
			background: url("../images/my_portfolio.png") no-repeat;
			background-size: cover;
		}
		div.projects_container_B{
			width: 1333px;
			height: 600px;
			margin: 0 auto;		
			/* background-color: gray; */
			position: relative;		
		}
		div.projects_container_B div{
			margin: 22px;
			float: left;
		}		
		div.projects_container_B div.project_C{
			width: 399px;
			height: 550px;
		}
		div.C_BoxLeft{
			background-color: #F4EFE9;
		}
		div.C_BoxRight{
			/* background-color: #CCE4D4; */
			background: url("../images/logo_04.png") no-repeat;
			background-size: cover;
		}
		div.project_C:hover .C_dummy{
			opacity: 1;
		}		
		div.project_C div.C_dummy{
			width: 100%;
			height: 550px;
			background-color: white;
			margin: 0;
			padding: 0;
			box-shadow: 0 0 0 10px #eee inset; /* div안쪽에 border주기 */
			opacity: 0;
			transition:1s all ease;			 	
		}		
		div.projects_container_B div.project_D{
			width: 399px;
			height: 250px;		
		}
		div.D_BoxTop{
			/* background-color: #E2E2E2; */
			background: url("../images/logo_05.png") no-repeat;
			background-size: cover;
		}
		div.project_D:hover .D_dummy{
			opacity: 1;
		}		
		div.project_D div.D_dummy{
			width: 100%;
			height: 250px;
			background-color: white;
			margin: 0;
			padding: 0;
			box-shadow: 0 0 0 10px #eee inset; /* div안쪽에 border주기 */
			opacity: 0;
			transition:1s all ease;			 	
		}		
		div.D_BoxBottom{
			position: absolute;
			left: 33.3%;
			top: 300px;
			/* background-color: #FED9BE;	 */
			background: url("../images/logo_03.png") no-repeat;
			background-size: cover;	
		}
		
		/* section>contact */
		section div#contact{
			width: 100%;
			height: 1000px;
			background-color: #f3f3f3;	
		}

		
		/** footer **/	
		footer{
			width: 100%;
			height: 60px;
			text-align: center;
			line-height: 60px;
		}	
	}
	
	/*** TABLET ***/
	@media screen and (min-width:768px) and (max-width:1023px){
	}
		
	/*** MOBILE ***/
	@media screen and (max-width:640px){
	}